<% provide(:titulo, "ORB - Home") %>
<% #se le asigna un valor a ":titulo" y luego lo toma yield para imprimir el titulo de la pagina, se puede usar content_for(:clave, "valor") %>
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
